{
	"presets": ["next/babel"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd"
                // "style": "css" //目前有bug
            }
        ]
    ]
}